@font-face{
  font-family: 'Segoe_UI';
  src: url(../fonts/Segoe-UI.ttf);
  src: url(../fonts/Segoe-UI-Bold-Italic.ttf);
  src: url(../fonts/Segoe-UI-Bold.ttf);
  src: url(../fonts/segoe.ttf);
}
.container-1300{
  max-width: 1300px;
}
.container-1200{
  max-width: 1200px;
}
.container-1140{
  max-width: 1140px;
}
.container-900{
  max-width: 900px;
}
.container-925{
  max-width: 925px;
}
.container-944{
  width: 944px;
  height: 78px;
}
.container-404{
  width: 404px;
  height: 78px;
}
.container-844{
  max-width: 844px;
}
.container-800{
  max-width: 800px;
}
.container-786{
  max-width: 786px;
}
.right-image-about{
  padding: 80px 60px 80px 40px !important;
  display: flex;
  align-items: center;
}
.left-image-about{
  padding: 80px 40px 80px 60px !important;
  display: flex;
  align-items: center;
}
.card-img-top {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.card-body{
  text-align: center;
}
.card-body-h4{
  font-weight: 600px;
  font-size: 17px;
  line-height: 21px;
  color: black;
}
.card-body-p{
  font-weight: 400px;
  font-size: 15px;
  line-height: 23px;
  color: black;
}
.card-body:hover{
  background-color: rgb(43, 43, 43);
  cursor: pointer;
  color: white !important;
  transition: 1s;
}
.card-body:hover .card-body-h4,.card-body:hover .card-body-p{
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}
.upper-footer{
  background-image: url('../assets/footer-header.jpg');
  height: 400px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-button{
  width:142px;
  height: 50px;
  border:2px solid white;
  background: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.custom-button{
  width: 40px !important;
}
.footer-button:hover{
  background:transparent;
  color: white;
}
.footer-links {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: black;
}
.our-company-body{
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
}
.lower-footer{
  padding: 30px 20px 0px 20px;
}
.footer-h4{
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: black;
}
.home-banner{
  min-height: 400px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.black-cards{
  bottom: -40px;
  margin-left: 60px;
  position: absolute;
}
.black-card-hover{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(0, 0, 0);
}
.black-card-hover:first-child{
  padding-left: 20px;
  background-color: rgb(0, 0, 0);
}
.black-card-hover:last-child{
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
}
.black-card-hover:hover{
  background-color: rgb(43, 43, 43);
  cursor: pointer;
  color: white;
}
.box-img-heading{
  font-weight: 700;
  font-size: 38px;
  line-height: 51px;
  color: black;
}
.box-img-about{
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: black;
}
.privacy-pol-h2{
  font-weight:600 ;
  font-size: 24px;
  line-height: 24px;
  color: black;
}
.privacy-pol-p{
  font-weight:400 ;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.privacy-pol-h4{
  font-weight:700 ;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.privacy-pol-padding , .disclaimer-padding{
  padding: 10px;
}
.horizontal-slide-h4{
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: black;
  margin-bottom: 25px;
}
.box-images{
  object-fit: cover;
  height:500px;
  width: 600px;
}
.upper-footer-h2{
  font-weight: 600px;
  font-size: 32px;
  line-height: 32px;
}
.upper-footer-h4{
  font-weight: 700px;
  font-size: 28px;
  line-height: 28px;
}
.box-image-h4{
  font-weight: 600px;
  font-size: 24px;
  line-height: 32px;
  color: black;
}
.box-image-p{
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  color: black;
}
.cards-h4{
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: black;
}
.cards-p{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: black;
}

.blue-card-left{
  padding: 50px 40px 20px 0px;
}
.blue-card-right{
  padding: 50px 0px 20px 40px;
}
.blue-card-h4{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.blue-card-p{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.small-card-h4{
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: white;
}
.small-card-heading{
  padding: 10px 10px 0px 10px;
}
.small-card-p{
  padding: 10px 10px 10px 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.custom-card-body{
  width: 555px;
}
.custom-card-body_1{
  width: auto;
  height:312px;
}
.custom-card-body_2{
  width: auto;
  height:216px;
}
.custom-card-body_3{
  width: auto;
  height:260px;
}
.custom-card-img{
  width: 170px;
  height: 224px;
  object-fit: cover;
  object-position: 70% 20%;
}
.long-card-h4{
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color:black;
}
.long-card-p{
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.input-item{
  background-color : #F9F9F9;
  border: 0;
  color: #2B2B2B;
}
.map-h4{
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
}
.btn-dark{
  background-color: black !important;
}
.object-pos-right{
  object-position: right;
}
.resources-banner{
  background-position: top center;
}
.our-company-header{
  background-position: bottom center;
  background-image: url(../assets/our-company-banner.jpg);
}
.small-black-cards{
  background-color: black;
  padding: 10px 10px 10px 10px ;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: #FFFFFF;
  width: 264px;
  height: 40px;
  margin: 0px;
  line-height: 22px;
}
.small-black-cards:hover{
  background-color: rgb(43, 43, 43);
}
.new-card-body-h4{
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  color: black;
}
.new-card-body-p{
  padding: 0px 20px 0px 20px;
}
/* .card-body-new:hover{
  background-color: rgb(43, 43, 43);
  color: white;
  cursor: pointer;
}
.new-card-body:hover .new-card-body-h4, .new-card-body:hover .new-card-body-p{
  color: white;
} */

.card-body:hover{
  background-color: rgb(43, 43, 43);
  color: white;
  height: auto;
}
.resources-card{
  padding: 0px 20px 0px 0px;
}
.resources-card-p{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.card-padding{
  padding: 0px 0px 0px 40px;
}
.index-herosection-banner{
  position: relative;
}
.explore-suits-cards{
  width: 18rem;
}
.index-horizontal-slide{
  height: 260px;
  width: auto;
}
.india-entry-strat-hero-banner{
  background-image: url(../assets/india-entry-strategies-banner.jpg);
}
.india-entry-strat-blue-cards{
  background-image: linear-gradient(90deg, #1E4C9E 50%, #315BA8 50%);
}
.india-peo-small-card{
  width: auto;
  height:298px !important;
}
.india-peo-big-card-body{
  padding: 12px 0px 0px 12px;
}
.india-subsidiary-hero-banner{
  background-image: url(../assets/india-entry-strategies-banner.jpg);
}
.india-subsidiary-cards{
  width: auto; 
  height: 480px !important;
}
.our-execution-hero-banner{
  background-image: url(../assets/our-execution-header-banner.jpg);
}
.leadership-team-card{
  width: auto;
  min-height: 419px;
}
.leadership-team-card-img{
  height:210px;
}
.our-client-service-card{
  width: auto; 
  height: 324px;
}
.e-brochures-img{
  height: 275px;
  width: 212px;
}
.benifit-floraison-card-1{
  width: 226px !important; 
  height: 212px !important;
}
.benifit-floraison-card-2{
  width: 226px !important; 
  height: 236px !important;
}
.small-business-card{
  width: auto;
  height: 524px !important;
}
.subsidiadry-support-hero-banner{
  background-position: 0px -80px;
}
.subsidiary-support-card{
  width: auto; 
  height: 480px !important;
}
.current-open-pos-card-img-1 {
  height: 310px;
  width: 170px;
  object-fit: cover;
}
.current-open-pos-card-img-2{
  height: 214px;
  width: 170px;
  object-fit: cover;
}
.current-open-pos-card-img-3{
  height: 258px;
  width: 170px;
  object-fit: cover;
}
.navbar-background{
  background: linear-gradient(to right, white 0 70%, black 70% 100%);
}
.nav-left{
  margin-left: 27px; margin-right: 27px;
}
.nav-left  div{
  padding-left: 40px ; display: flex; align-items: center;
}
.nav-logo{
  width: 135px;
}
.nav-modal-a-padding{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 50px;
}
.custom-modal {
  position: absolute !important;
  right: 0% !important;
  top: 0px !important;
  height: 100vh;
}
.resources-a{
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}
.custom-modal-dialog {
  right: 0px !important;
  position: absolute !important;
  width: 31% !important;
  height: 100vh !important;
}
.active-submenu{
  background-color: rgb(43, 43, 43) !important;
}
.active-footer{
  color:  #8D8D8D !important;
}
.active-navbar{
  color: #404040 !important;
}
.nav-button{
  padding-left: 100px !important;
  padding-bottom: 10px !important;
}
.nav-hover:hover{
  color: #404040 !important;
}
.navbar{
  z-index: 99 !important;
}
.nav-right{
  width: 100vw;
}
.nav-left{
  width: 220vw;
  height: 78px;
}
.nav-button{
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}
.black-card-hover a{
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.modal-form-body{
  width: 640px !important;
  height: auto !important;
}
.form-input{
  width: 503px !important;
}
.form-padding{
  padding: 50px 50px 50px 50px;
}
.form-heading{
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}
.form-heading-about{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.form-p{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.send-btn{
  width: 503px !important;
  height: 40px !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  line-height: 15px !important;
}
.modal-header{
  border: none !important;
  height: 0px !important;
}